name: ci

on:
    pull_request:
    push:

jobs:
    test:
        strategy:
            matrix:
                os: [windows-latest, ubuntu-latest, macos-latest]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v6
            - uses: actions/cache@v5
              with:
                  path: |
                      ~/.cargo/bin/
                      ~/.cargo/registry/index/
                      ~/.cargo/registry/cache/
                      ~/.cargo/git/db/
                      target/
                  key: ${{ runner.os }}-cargo-test-${{ hashFiles('**/Cargo.lock') }}
            - uses: dtolnay/rust-toolchain@stable
              with:
                  toolchain: stable
            - name: Install dependencies
              if: runner.os == 'Linux'
              run: sudo apt-get update; sudo apt-get install g++ pkg-config libx11-dev libasound2-dev libudev-dev libxkbcommon-x11-0 libwayland-dev libxkbcommon-dev
            - name: Build and run tests
              run: cargo test

    doc-tests:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/cache@v5
              with:
                  path: |
                      ~/.cargo/bin/
                      ~/.cargo/registry/index/
                      ~/.cargo/registry/cache/
                      ~/.cargo/git/db/
                      target/
                  key: ubuntu-latest-cargo-doc-tests-${{ hashFiles('**/Cargo.lock') }}
            - uses: dtolnay/rust-toolchain@stable
              with:
                  toolchain: stable
            - name: Install dependencies
              run: sudo apt-get update; sudo apt-get install g++ pkg-config libx11-dev libasound2-dev libudev-dev libxkbcommon-x11-0 libwayland-dev libxkbcommon-dev
            - name: Run doc tests
              run: cargo test --doc --all-features

    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/cache@v5
              with:
                  path: |
                      ~/.cargo/bin/
                      ~/.cargo/registry/index/
                      ~/.cargo/registry/cache/
                      ~/.cargo/git/db/
                      target/
                  key: ubuntu-latest-cargo-lint-${{ hashFiles('**/Cargo.lock') }}
            - uses: dtolnay/rust-toolchain@stable
              with:
                  toolchain: stable
                  components: rustfmt, clippy
            - name: Install dependencies
              run: sudo apt-get update; sudo apt-get install g++ pkg-config libx11-dev libasound2-dev libudev-dev libxkbcommon-x11-0 libwayland-dev libxkbcommon-dev
            - name: Run clippy
              run: cargo clippy --workspace --all-targets --all-features -- -Dwarnings
            - name: Check format
              run: cargo fmt --all -- --check
