name: web-cd

on:
    workflow_dispatch:
    push:
        branches: [master]
        paths-ignore:
            - '**/*.md'
            - 'docs/**'

permissions:
    contents: read
    pages: write
    id-token: write

concurrency:
    group: pages
    cancel-in-progress: true

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/cache@v4
              with:
                  path: |
                      ~/.cargo/bin/
                      ~/.cargo/registry/index/
                      ~/.cargo/registry/cache/
                      ~/.cargo/git/db/
                      target/
                  key: ubuntu-latest-cargo-web-${{ hashFiles('**/Cargo.lock') }}
            - uses: dtolnay/rust-toolchain@stable
              with:
                  toolchain: stable
            - name: Install dependencies
              run: sudo apt-get update; sudo apt-get install g++ pkg-config libx11-dev libasound2-dev libudev-dev libxkbcommon-x11-0 libwayland-dev libxkbcommon-dev
            - name: Install trunk
              uses: jetli/trunk-action@v0.5.1
              with:
                  version: latest
            - name: Add wasm target
              run: rustup target add wasm32-unknown-unknown
            - uses: actions/configure-pages@v5
            - name: Build release
              run: trunk build --release
            - uses: actions/upload-pages-artifact@v3
              with:
                  path: target/trunk

    deploy:
        runs-on: ubuntu-latest
        needs: build
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        steps:
            - id: deployment
              uses: actions/deploy-pages@v4
